/* Basic Styling - don't alter this part! */
html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(217, 234, 240);
    color: #555;
}
header {
    background: linear-gradient(to bottom right, rgb(92, 149, 235), #333);
    color: white;
    padding: 25px;
}
header h1 {
    margin: 0;
}
main h2 {
    color: black;
    text-decoration: underline;
}
.container {
    width: 65%;
    margin: 0 auto;
}

/* Add Student Styles Below */
.thatabg-style {
    color: rgb(125, 255, 105);
    background-color: black;
    padding: 3px;
}

.thatabg-1-style {
    color: blue;
    background-color: rgb(0, 191, 255);
    padding: 3px;
}

.thatabg-2-style {
    background:rgb(113, 92, 235);
}

.thatabg-3-style {
    background-color:rgb(143, 143, 143);
}

.my-bio {
    background-color: rgb(83, 36, 0);
    color: white;
}
